#pragma once

// Wi-Fi credentials
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// Netatmo app credentials and refresh token
// Create an app at https://dev.netatmo.com/
#define NETATMO_CLIENT_ID "YOUR_NETATMO_CLIENT_ID"
#define NETATMO_CLIENT_SECRET "YOUR_NETATMO_CLIENT_SECRET"
#define NETATMO_REFRESH_TOKEN "YOUR_NETATMO_REFRESH_TOKEN"
